<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wktx.www.emperor">
    //RxJava2+Retrofit2 网络请求框架 请求权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    //if you want to load images from the internet
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 《支付宝 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 支付宝 》 -->

    //图片选择器 请求权限
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //图片加载
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <!--Bugly热更新4-1-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <!-- 欢迎界面 (解决点击桌面图标，APP重启问题) -->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 微信支付：这个intent-filter不要忘了 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxdfb137b9c34a5a28" /> <!-- 微信APPId -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:launchMode="singleTask" />
        //首页
        <!-- 首页、查看大图、搜索、美工案例(排序筛选)、招聘指南、消息（详情） -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.ImageActivity"
            android:theme="@android:style/Animation.Dialog" />
        <activity
            android:name=".ui.activity.main.SearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.main.artistcase.CasesActivity" />
        <activity android:name=".ui.activity.main.artistcase.ScreeningCasesActivity" />
        <activity android:name=".ui.activity.main.RecruitGuideActivity" />
        <activity android:name=".ui.activity.main.message.MessageActivity" />
        <activity android:name=".ui.activity.main.message.MessageDetailsActivity" />
        //招聘
        <!-- 筛选（工作经验、性别） -->
        <activity android:name=".ui.activity.recruit.ScreeningResumeActivity" />
        <!-- 需求（需求列表、发布需求、需求详情） -->
        <activity android:name=".ui.activity.recruit.demand.DemandActivity" />
        <activity
            android:name=".ui.activity.recruit.demand.DemandReleaseActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.recruit.demand.DemandDetailsActivity" />
        <!-- 简历、作品详情 -->
        <activity android:name=".ui.activity.recruit.resume.ResumeActivity" />
        <activity android:name=".ui.activity.recruit.resume.WorksDetailsActivity" />
        <!-- 雇佣、确认订单信息、托管工资、支付结果、输入余额支付密码 -->
        <activity
            android:name=".ui.activity.recruit.hire.HireActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.recruit.hire.OrdersInfoActivity" />
        <activity android:name=".ui.activity.recruit.hire.TrusteeshipSalaryActivity" />
        <activity android:name=".ui.activity.recruit.hire.PayResultActivity" />
        <activity
            android:name=".ui.activity.recruit.hire.InputPayPwdActivity"
            android:theme="@style/PasswordTheme" />
        //员工
        <!-- 管理、考核指标、续签、工资、考勤记录、安排工作、暂停工作、发起投诉、发起解雇、解雇详情、工作报告、销售额 、评价员工、请假 -->
        <activity android:name=".ui.activity.staff.StaffManageActivity" />
        <activity android:name=".ui.activity.staff.StaffKPIActivity" />
        <activity android:name=".ui.activity.staff.StaffRenewalActivity" />
        <activity android:name=".ui.activity.staff.StaffSalaryActivity" />
        <activity android:name=".ui.activity.staff.StaffAttendanceActivity" />
        <activity android:name=".ui.activity.staff.StaffArrangeWorkActivity" />
        <activity android:name=".ui.activity.staff.StaffPauseWorkActivity" />
        <activity android:name=".ui.activity.staff.StaffComplaintActivity" />
        <activity android:name=".ui.activity.staff.fire.StaffFireActivity" />
        <activity android:name=".ui.activity.staff.fire.StaffFireDetailsActivity" />
        <!-- 工作报告（安排工作列表、报告列表、报告详情） -->
        <activity android:name=".ui.activity.staff.report.StaffWorkListActivity" />
        <activity android:name=".ui.activity.staff.report.StaffReportListActivity" />
        <activity
            android:name=".ui.activity.staff.report.ReportDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".ui.activity.staff.report.ReportSaleroomActivity" />
        <activity
            android:name=".ui.activity.staff.StaffEvaluateActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 请假（请假列表、请假详情） -->
        <activity android:name=".ui.activity.staff.leave.LeaveListActivity" />
        <activity android:name=".ui.activity.staff.leave.LeaveDetailsActivity" />
        //我的账户
        <!-- 登录、注册、忘记密码 -->
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity" />
        <!-- 公司信息 -->
        <activity android:name=".ui.activity.mine.CompanyInfoActivity" />
        <!-- 账户认证（个人、店铺及详情） -->
        <activity android:name=".ui.activity.mine.authent.AccountAuthentActivity" />
        <activity
            android:name=".ui.activity.mine.authent.AuthentPersonalActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.mine.authent.AuthentPersonalDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.mine.authent.AuthentStoreActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.activity.mine.authent.AuthentStoreDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 设置 -->
        <activity android:name=".ui.activity.mine.SettingActivity" />
        <!-- 我的钱包（提现记录、钱包充值、钱包提现） -->
        <activity android:name=".ui.activity.mine.purse.MyPurseActivity" />
        <activity android:name=".ui.activity.mine.purse.WithdrawListActivity" />
        <activity android:name=".ui.activity.mine.purse.PurseRechargeActivity" />
        <activity
            android:name=".ui.activity.mine.purse.PurseWithdrawActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!-- 浏览记录、店铺信息(编辑添加)、我的收藏、交易记录、面试记录、雇佣记录、我的红包、账户安全、联系客服 -->
        <activity android:name=".ui.activity.mine.BrowsingRecordActivity" />
        <activity android:name=".ui.activity.mine.store.StoreInfoActivity" />
        <activity android:name=".ui.activity.mine.store.StoreInfoEditActivity" />
        <activity android:name=".ui.activity.mine.MyCollectActivity" />
        <activity android:name=".ui.activity.mine.TransactionRecordActivity" />
        <activity android:name=".ui.activity.mine.InterviewRecordActivity" />
        <activity android:name=".ui.activity.mine.HireRecordActivity" />
        <activity android:name=".ui.activity.mine.MyCouponActivity" />
        <!-- 账户安全（修改登录密码、支付密码、手机号、支付宝认证） -->
        <activity android:name=".ui.activity.mine.security.AccountSecurityActivity" />
        <activity android:name=".ui.activity.mine.security.EditLoginPwdActivity" />
        <activity android:name=".ui.activity.mine.security.EditPayPwdActivity" />
        <activity android:name=".ui.activity.mine.security.EditPhoneActivity" />
        <activity android:name=".ui.activity.mine.security.AuthentAlipayActivity" />
        <!-- 关于我们、联系客服 -->
        <activity android:name=".ui.activity.mine.AboutUsActivity" />
        <activity android:name=".ui.activity.mine.ContactServiceActivity" />
        <!-- 相关协议说明（关于我们、红包使用规则） -->
        <activity android:name=".ui.activity.mine.WebExplainActivity" />

        <!-- 屏幕适配AutoLayout -->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- 屏幕适配AutoLayout -->


        <!-- 《支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 支付宝 》 -->


        <!-- 《微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- 微信支付 》 -->

        <!--Bugly热更新4-2-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!--Bugly热更新4-2-->


        <activity android:name=".ui.activity.recruit.resume.WorksDetails1Activity"></activity>
    </application>

</manifest>