<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wktx.www.emperor">

    //RxJava2+Retrofit2 网络请求框架  请求权限
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    //if you want to load images from the internet
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />



    <application
        android:name="com.wktx.www.emperor.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wktx.www.emperor.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录、注册、忘记密码-->
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.login.ForgetPwdActivity" />

        //招聘
        <!--筛选（工作经验、性别）-->
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.ScreeningActivity"/>
        <!--发布需求-->
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.demand.DemandActivity" />
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.demand.DemandReleaseActivity" />
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.demand.DemandDetailActivity" />
        <!--简历-->
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.resume.ArtistResumeActivity" />
        <!--浏览记录-->
        <activity android:name="com.wktx.www.emperor.ui.activity.recruit.BrowsingHistoryActivity" />

        //我的账户
        <!--公司信息-->
        <activity android:name="com.wktx.www.emperor.ui.activity.mine.CompanyInfoActivity" />

        <!--搜索-->
        <activity android:name="com.wktx.www.emperor.ui.activity.SearchActivity" />


        <activity android:name="com.wktx.www.emperor.Activity.UpdateNickNameActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.AboutUsActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.ServiceActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.FavorActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.PacketActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StoreInfoActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.EmployActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.TrasactActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.PacketRuleActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.PayPswctivity" />
        <activity android:name="com.wktx.www.emperor.Activity.InterviewActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.CashActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.PurseActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.RechargeActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.UpdateStoreActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.MessageActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.MessageDetailsActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.InviteGuideActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.CheckAccountActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.ArrangeWorkActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.RecruitActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffManageActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffRenewActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffArrangeWorkActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffPauseWorkActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffComplaintActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffFireActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffSalaryActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffAttendanceActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffReportActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.WorksActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.WorksDetailActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffSaleActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.StaffReportDetaisActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.CertificateIndividualActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.CertificateStoreActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.ArtistEmployActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.OrdersInfoActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.SalaryTrusteeshipActivity" />
        <activity android:name="com.wktx.www.emperor.Activity.PayResultActivity" />


        <!-- 屏幕适配AutoLayout -->
        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!-- 屏幕适配AutoLayout -->

    </application>

</manifest>